<div class="row box-top">
  <h1>Under construction</h1>
  <a class="button round alert" href="/">Return to main page</a>
</div>



 <div class="row">

   <div class="small-12 medium-12 large-4 columns">
     <div class="callout-card alert radius">
       <div class="card-label">
         <div class="label-text">
           YAY
         </div>
       </div>
       <div class="callout-card-content">
         <h3 class="lead">	Poltergeist</h3>
         <p>A family's suburban home is invaded by evil forces.
         </p>
       </div>
     </div>
   </div>

   <div class="small-12 medium-12 large-4  columns">
     <div class="callout-card warning radius">
       <div class="card-label">
         <div class="label-text">
           NAY
         </div>
       </div>
       <div class="callout-card-content">
         <h3 class="lead">Jurassic World</h3>
         <p>Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond. After 10 years of operation and visitor rates declining, in order to fulfill a corporate mandate, a new attraction is created to re-spark visitor's interest, which backfires horribly.
         </p>
       </div>
     </div>
   </div>

   <div class="small-12 medium-12 large-4  columns">
     <div class="callout-card warning radius">
       <div class="card-label">
         <div class="label-text">
           NAY
         </div>
       </div>
       <div class="callout-card-content">
         <h3 class="lead">Jurassic World</h3>
         <p>Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond. After 10 years of operation and visitor rates declining, in order to fulfill a corporate mandate, a new attraction is created to re-spark visitor's interest, which backfires horribly.
         </p>
       </div>
     </div>
   </div>

 </div>
